{% extends 'main/list.html' %}
{% block title %}Top Rated{% endblock title %}

{% block list_title %}top_rated_films_box_title{% endblock list_title %}
{% block list_container %}
	<div class="row">
		{% for item in data.top_rated_list %}
			<div class="poster col-6 col-sm-4 col-md-3 col-lg-2">
	            <a href="">
	                <div class="poster-img" style="background-image:url({{item.poster_path}})"></div>
	            </a>
	            <span class="title" width="auto">{{item.title}}</span>
	            <span class="year" width="auto">{{item.release_year}}</span>
	        </div>
	    {% endfor %}
	</div>
{% endblock list_container %}